Repository binsync/binsync, pull requests merged in 2021-07, with the labels that each got.

#32 Refactor of core and IDA
  binsync/__init__.py
  binsync/client.py
  plugins/ida_binsync/ida_binsync/compat.py
  plugins/ida_binsync/ida_binsync/controller.py
  plugins/ida_binsync/ida_binsync/ui/config_dialog.py
  plugins/ida_binsync/ida_binsync/ui/info_panel.py
Labels: core, ida, refactor

#33 Ida UI text refactor
  plugins/ida_binsync/ida_binsync/ui/sync_menu.py
Labels: ida, refactor

#34 [WIP] Feat: IDA support for full type syncing
  plugins/ida_binsync/ida_binsync/compat.py
  plugins/ida_binsync/ida_binsync/controller.py
  plugins/ida_binsync/ida_binsync/hooks.py
  plugins/ida_binsync/ida_binsync/ui/sync_menu.py
  scripts/launch_and_update_ida.sh
Labels: enhancement, ida
